* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    color: #333;
    background-color: #fff;
}

header {
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 1rem;
    width: 650px;
    margin: 0 auto;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: darkblue;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1.2rem;
    border: rgb(112, 112, 112) solid 1px;
    border-radius: 0.5rem;
    background-color: #f3f3f3;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
}

label,
input,
select,
textarea,
button {
    font-size: 1rem;
    font-weight: 500;
}

label {
    text-align: left;
    padding: 0.8rem;
    font-weight: bold;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.form-item {
    display: grid;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 1rem;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 1.5rem 1rem;
    font-weight: 550;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkblue;
}